dialog {
    width: 450px;
    min-height: 350px;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: white;
    position: relative;
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.btn-close-modal {
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    background-color: #fff;
    color: #212529;
    transition: color 150ms ease-in-out;
}

.btn-close-modal:hover {
    color: #aaa;
}

.form-errors {
    position: relative;
    margin-top: 1rem;
    font-weight: bold;
    list-style: none;
    padding: 0;
}

.form-errors li {
    padding-left: 1rem;
    font-size: 0.9rem;
    color: #dc3545;
}

.form-errors li::before {
    content: "x";
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    color: #dc3545;
}
