@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100 dark:bg-slate-900 text-foreground;
    }

    :root {
        --background: 210 40% 98%;
        --foreground: 217 40% 20%;
        --card: var(--background);
        --card-foreground: var(--foreground);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --primary: var(--foreground);
        --primary-foreground: var(--background);
        --secondary: 210 35% 90%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 25% 93%;
        --muted-foreground: var(--foreground);
        --accent: var(--secondary);
        --accent-foreground: var(--foreground);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: var(--foreground);

        --border: 217 10% 5%;
        --input: 217 10% 5%;
        --ring: 215 25% 27%;

        --radius: 0.5rem;
    }
}

.dark {
    --background: 217 33% 17%;
    --foreground: 210 40% 98%;
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: 222 47% 11%;
    --popover-foreground: var(--foreground);
    --primary: var(--foreground);
    --primary-foreground: var(--background);
    --secondary: 215 26% 27%;
    --secondary-foreground: var(--foreground);
    --muted: 217 30% 12%;
    --muted-foreground: var(--foreground);
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --destructive: 0 70% 45%;
    --destructive-foreground: var(--foreground);

    --border: 215 16% 47%;
    --input: var(--border);
    --ring: var(--foreground);
}
